:root {
	--rem-base: 16px;
	--rem-base-small: 13px;
	--bg-g1: rgb(255, 255, 255);
	--bg-g2: rgb(200, 200, 200);
	--bg-selection: rgba(150, 150, 150, 0.15);
	--fg-text: rgb(30, 30, 30);
	--fg-title: rgb(60, 60, 60);
	--fg-link: rgb(3, 118, 187);
	--fg-footer: rgb(150, 150, 150);
	--ff-serif: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
	--ff-sserif: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

::selection {
	background-color: var(--bg-selection);
}

html {
	font-size: var(--rem-base);
}

html, body {
	margin: 0;
	padding: 0;
	min-height: 100%;
}

body {
	font-size: 1.3rem;
	box-sizing: border-box;
	text-align: left;
	font-family: var(--ff-serif);
	color: var(--fg-text);
	background-image: linear-gradient(70deg, var(--bg-g1), var(--bg-g2));
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.frame {
	margin: 0.5rem 1.5rem 2rem;
	padding: 0;
}

.row-center {
	max-width: 1245px;
	margin: 0 auto;
}

.header {
	border-bottom: var(--fg-title) 0.3rem solid;
	padding: 0;
	margin-bottom: 1.5rem;
}

.footer {
	border-top: var(--fg-title) 0.3rem solid;
	padding: 0;
	margin-top: 1.5rem;
	font-family: var(--ff-sserif);
	color: var(--fg-footer);
	font-size: 1rem;
}

.footer .small {
	font-size: 0.8rem;
}

.footer .row .col {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.footer .row .no-whitespace {
	padding-top: 1px;
	padding-bottom: 0;
}

.footer h4 {
	margin: 1rem 0 0.5rem 0;
	font-size: 1rem;
	font-weight: 800;
}

.footer p {
	margin: 0 0 0.5rem 0;
}

p {
	margin: 0 0 2rem 0;
	line-height: 150%;
}

h1, h2, h3 {
	margin: 0 0 1.5rem 0;
	display: inline-block;
	color: var(--fg-title);
}

h1 {
	margin-bottom: 0;
	font-size: 5.8rem;
	font-family: var(--ff-sserif);
	line-height: 130%;
	padding-right: 1.5rem;
}

h2 {
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	font-weight: normal;
}

h3 {
	margin-top: 1.5rem;
	font-size: 2.5rem;
	font-family: var(--ff-sserif);
	font-weight: bold;
}

h1.highlight {
	color: var(--bg-g1);
}

.small {
	font-size: 1rem;
}

a {
	outline: 0;
	color: var(--fg-link);
	text-decoration: none;
}

a:hover {
	border-bottom: .2rem solid var(--fg-link);
}

a.homelink {
	color: var(--fg-title);
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
}

li {
	padding: 0;
	margin: .5rem 0 0 0;
}

ul.nav {
	display: block;
	margin-bottom: 0.5rem;
}

ul.nav li {
	display: inline;
	padding-right: 0.2rem;
}

ul.nav a {
	font-family: var(--ff-sserif);
	font-weight: bold;
}

ul.nav li.active a {
	color: var(--bg-g1) !important;
}

ul.nav li.translation {
	font-size: 0.7rem;
	text-transform: uppercase;
}

figure {
	margin: 0 0 1.5rem 0;
	width: 100%;
}

figure.half {
	width: 46%;
}

figure.left {
	margin-right: 1.5rem;
	float: left;
}

figure.right {
	margin-left: 1.5rem;
	float: right;
}

figcaption {
	padding: 0.3rem;
	margin: 0;
	text-align: right;
	font-size: 1rem;
	color: var(--fg-title);
	border-left: 1px solid var(--fg-title);
	border-bottom: 1px solid var(--fg-title);
	border-right: 1px solid var(--fg-title);
}

.featuredimg {
	float: right;
	width: 100%;
	margin-top: -1.5rem;
	margin-bottom: 1.5rem;
}
