{{ $params := .Params }}
{{ with .Resources.GetMatch "_*" }}
  {{- $img := .Fill "800x195 q80" -}}
  <figure class="featuredimg">
    <img src="{{ $img.RelPermalink }}" />
      {{ if $params.featuredImgOrigin }}
      <figcaption>
        <p class="origin{{ if (strings.Contains $params.featuredImgLicenseLink "creativecommons") }} cc{{ end }}">
            {{ i18n "image_source" }}: {{ with $params.featuredImgOriginLink }}<a target="_blank" href="{{ . }}">{{ end }}{{ $params.featuredImgOrigin }}{{ if $params.featuredImgOriginLink }}</a>{{ end }}{{ with $params.featuredImgLicenseLink }} (<a target="_blank" href="{{ . }}">{{ i18n "image_license" }}</a>){{ end }}
        </p>
      </figcaption>
      {{ end }}
  </figure>
{{ end }}


{{ if not (strings.Contains .Content "<h1>") }}
